# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Assets
*.obj
*.png

CMakeFiles/
build/
docs/
.vscode/
CMakeLists.txt.user
Doxyfile
imgui.ini

*.cmake
MakeFile